body{
    font-family: monospace;
}

*{
    margin: 0;
    padding: 0;
}

/*------------- nav bar ---------------*/

nav{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    background-color: white;
    border-bottom: 2px solid black;
}

.left{
    font-size: 1.5rem;
}


main{
    display: flex;
}


/*------------ Home Section --------------*/

#home{
    margin-top: 64px;
    display: flex;
    max-height: calc(100vh - 64px);
    min-width: 25vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.about{
    font-size:x-large
}

.purple{
    color: rgb(0, 49, 65);
}

#element{
    color: rgb(0, 12, 66);
}

/*-------------------- Projects --------------------*/

#projects{
    margin-top: 64px;
    width: 100%;
    padding: 32px;
}


#projects h1{
    font-size: 1.6rem;
}

.text-gray{
    color: gray;
}

#boxes{
    display: flex;
    gap: 16px;
}

.box{
    height: fit-content;
    max-width: 150px;
    width: fit-content;
    background-color: rgb(224, 224, 224);
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}

.box:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}


.box .image{
    height: 100px;
    width: 100px;
    display: inline-block;  /* Change from block */
    border: solid 2px black;
    transition: 0.5s;
    background-position: center;
    background-repeat: no-repeat;
}

.box .title{
    height: 4rem;
    margin: 20px 20px;
    text-align: center;
}

.boxes div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.copyright{
    text-align: center;
}